[Unit]
Description=nwg-dock for Hyprland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nwg-dock-hyprland -p bottom -a center -mb 5 -d
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
